@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200..900;1,200..900&family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --header-font: "Crimson Pro", serif;
    --body-font: "Hanken Grotesk", sans-serif;
    --mono-font: "IBM Plex Mono", monospace;
    --bg-color: #E3E0E7;
    --text-dark: #282128;
    --text-body: #676269;
    --text-nav: #868088;
    --text-light: #A5A1A8;
    --grey-600: #707070;
}

body {
    font-family: var(--body-font);
    background-color: var(--bg-color);
    color: var(--text-dark);
    margin: 0;
    padding: 0;
}

nav {
    background-color: transparent;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0 1em;
    display: flex;
}

nav ul li {
    margin: 0 1em;
}

nav ul li a {
    color: var(--text-nav);
    text-decoration: none;
    font-family: var(--header-font);
    font-size: 1em;
}

nav ul li a:hover {
    cursor: pointer;
    color: var(--text-dark);
    text-decoration: none;
}

main {
    padding-left: 2em;
    padding-top: 1em;
    padding-right: 2em;
    padding-bottom: 2em;
}

#about {
    width: 100%;
    max-width: 27.5em;
    margin-left: 0;
    text-align: left;
}

.intro {
    display: flex;
    align-items: center;
    margin-top: 1em;
}

.intro svg {
    margin-right: 1em;
    filter: drop-shadow(2px 2px 2px rgb(0 0 0 / 0.15));
}

h1 {
    font-family: var(--header-font);
    font-size: 2em;
    color: var(--text-dark);
    margin: 0;
}

p {
    font-size: 1em;
    color: var(--text-body);
}

hr {
    border: 1px solid #CCCCCC;
}

.experience {
    display: flex;
    align-items: flex-start;
    margin-top: 1em;
    position: relative;
    padding-right: 7em;
}

.experience img {
    width: 2.5em;
    height: 2.5em;
    margin-right: 1em;
}

.experience div {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.experience h2 {
    color: var(--text-dark);
    font-size: 1em;
    margin: 0;
}

.experience p {
    font-size: 1em;
    color: var(--text-light);
    margin: 0;
}

.time {
    font-family: var(--body-font);
    font-size: 0.625em;
    color: #c1bcc4;
    opacity: 0;
    font-weight: 400;
    transition: opacity 0.3s ease;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 7em;
    text-align: right;
}

.experience:hover .time {
    opacity: 1;
}

.selected {
    font-weight: bold;
    color: var(--text-dark);
}

.selected:hover {
    cursor: auto;
    text-decoration: none;
}

.chip {
    display: inline-block;
    background: #dadada;
    font-weight: 700;
    font-size: 12px;
    color: #5f5f5f;
    border-radius: 7px;
    margin: 0 0.5em;
    padding: 6px;
    padding-bottom: 4px;
    line-height: 0.9em;
}

.note {
    display: flex;
    align-items: center;
    margin-top: 2em;
}

.note img {
    width: 2.5em;
    height: 2.5em;
    margin-right: 1em;
}

.note div {
    display: flex;
    flex-direction: column;
}

.note h2 {
    color: var(--text-dark);
    font-size: 1em;
    margin: 0;
}

.note p {
    font-size: 1em;
    color: var(--text-light);
    margin-top: 0.125em;
    margin-bottom: 0.125em;
    margin-left: 0;
    margin-right: 0;
}

@media (max-width: 768px) {
    nav {
        flex-direction: column;
        align-items: flex-start;
    }

    nav ul {
        margin: 0.5em 1em;
    }

    #about {
        max-width: 100%;
    }

    .experience {
        padding-right: 0;
        flex-direction: column;
        align-items: flex-start;
    }

    .time {
        transform: none;
        opacity: 1;
    }
}
